    <!--div class="footer row">
      <div class="col-md-2 col-md-offset-5 text-center">
        <a href="https://fb.me/HobartMakers"><img src="/assets/images/social-facebook.png" class="socmed-icon"></a>
        <a href="http://twitter.com/HobartMakers"><img src="/assets/images/social-twitter.png" class="socmed-icon"></a>
        <a href="mailto:info@hobartmakers.com"><img src="/assets/images/social-mail.png" class="socmed-icon"></a>
      </div>
    </div-->
    <div class="footer" >
        <div class="container">
            <div class="pull-left">
                <a href="https://riot.im/app/#/room/#hobartmakers:matrix.org"><img src="/assets/images/social-riot.png" class="socmed-icon" title="Matrix Chat"></a>
                <a href="https://fb.me/HobartMakers"><img src="/assets/images/social-facebook.png" class="socmed-icon" title="Facebook"></a>
                <a href="mailto:info@hobartmakers.com"><img src="/assets/images/social-mail.png" class="socmed-icon" title="Email"></a>
            </div>

            <address class="text-right">
              <strong>Hobart Makers Inc.</strong><br />
              <a href="https://goo.gl/maps/bDc617cT3qo">
              Building 1831 South,<br />
              New Town,<br />
              Tasmania 7002</a><br />
              <abbr title="Australian Business Number">ABN:</abbr> <a href="https://abr.business.gov.au/SearchByAbn.aspx?abn=37633101451">37 633 101 451</a>
            </address>
        </div>
    </div>

